" vim: set tw=78 nospell filetype=vim:
"
" Bundle specific sourcing and configuration
" ------------------------------------------
" This is a template for creating a new plugin config file for CookieVim.
"
" Bundle Repository {
" -------------------
" i.e.   Bundle 'github-user/repo'
"

" Bundle 'tomtom/tlib_vim'   "Loaded by vim-snipmate
" Bundle 'dahu/Asif'
" Bundle 'dahu/vim-asciidoc'
Bundle 'dagwieers/asciidoc-vim'

" }

" Configuration {
" ---------------
" Put plugin specific configuration info here:
"

"-- pandoc Markdown+LaTeX -------------------------------------------

function s:MDSettings()
    inoremap <buffer> <Leader>n \note[item]{}<Esc>i
    noremap <buffer> <Leader>pa :! pandoc -t beamer % -o %<.pdf<CR><CR>
    noremap <buffer> <Leader>ps :! pandoc -t latex % -o %<.pdf<CR>
    noremap <buffer> <Leader>cv :! zathura %<.pdf 2>&1 >/dev/null &<CR><CR>

    " adjust syntax highlighting for LaTeX parts
    "   inline formulas:
    syntax region Statement oneline matchgroup=Delimiter start="\$" end="\$"
    "   environments:
    syntax region Statement matchgroup=Delimiter start="\\begin{.*}" end="\\end{.*}" contains=Statement
    "   commands:
    syntax region Statement matchgroup=Delimiter start="{" end="}" contains=Statement
endfunction

autocmd BufRead,BufNewFile *.md setfiletype markdown
autocmd FileType markdown :call <SID>MDSettings()

" }
