" vim: set tw=78 nospell filetype=vim:
"
" Bundle specific sourcing and configuration
" ------------------------------------------
" This is a template for creating a new plugin config file for CookieVim.
"
" Bundle Repository {
" -------------------
" i.e.   Bundle 'github-user/repo'
"

Bundle 'vim-scripts/c.vim'
Bundle 'rhysd/vim-clang-format'
Bundle 'justmao945/vim-clang'

" }

" Configuration {
" ---------------
" Put plugin specific configuration info here:
"

" vim-clang config

let g:clang_c_options = '-std=gnu11'
let g:clang_cpp_options = '-std=c++11 -stdlib=libc++'


" clang-format-3.5

let g:clang_format#command = "clang-format-3.5"
let g:clang_format#code_style = "mozilla"
let g:clang_format#style_options = {
            \ "AccessModifierOffset" : -4,
            \ "AllowShortIfStatementsOnASingleLine" : "true",
            \ "AlwaysBreakTemplateDeclarations" : "true"}

let g:clang_format#auto_format = 1

" map to <Leader>cf in C++ code
autocmd FileType c,cpp,objc nnoremap <buffer><Leader>cf :<C-u>ClangFormat<CR>
autocmd FileType c,cpp,objc vnoremap <buffer><Leader>cf :ClangFormat<CR>
" if you install vim-operator-user


" }
