" vim: set tw=78 nospell filetype=vim:
"
" Bundle specific sourcing and configuration
" ------------------------------------------
" This is a template for creating a new plugin config file for CookieVim.
"
" Bundle Repository {
" -------------------
" i.e.   Bundle 'github-user/repo'
"

Bundle 'vim-scripts/c.vim'
Bundle 'kana/vim-operator-user'
Bundle 'rhysd/vim-clang-format'
Bundle 'Rip-Rip/clang_complete'

" }

" Configuration {
" ---------------
" Put plugin specific configuration info here:
"


" Disable neocomplete for C, C++

autocmd FileType c,c++,go " NeoCompleteLock

set autoindent
set cindent

" C syntax options
let c_syntax_for_h = 1
let c_C99 = 1
let c_warn_8bitchars = 1
let c_warn_multichar = 1
let c_warn_digraph = 1
let c_warn_trigraph = 1



" Clang options

let g:clang_library_path='/usr/local/lib'
let g:syntastic_cpp_compiler = 'clang++'

let g:clang_format#style_options = {
            \ "AccessModifierOffset" : -4,
            \ "ColumnLimit" : 80,
            \ "AllowShortIfStatementsOnASingleLine" : "true",
            \ "AlwaysBreakTemplateDeclarations" : "true",
            \ "Standard" : "C++11"}

let g:clang_snippets = 1
let g:clang_snippets_engine = 'ultisnips'
let g:clang_close_preview = 1
let g:clang_auto_select = 1
set completeopt=menu,menuone



" map to <Leader>cf in C++ code
autocmd FileType c,cpp,objc nnoremap <buffer><Leader>cf :<C-u>ClangFormat<CR>
autocmd FileType c,cpp,objc vnoremap <buffer><Leader>cf :ClangFormat<CR>
" if you install vim-operator-user
autocmd FileType c,cpp,objc map <buffer><Leader>x <Plug>(operator-clang-format)

" Maybe improvements for OBSD ?
set cinoptions=t0,+4,(4,u4,w1
autocmd FileType c,cpp,objc set shiftwidth=8
autocmd FileType c,cpp,objc set softtabstop=8
autocmd FileType c,cpp,objc let c_space_errors=1

" Other Options
"
set tags=./tags;/

" }
