" vim: set tw=78 nospell filetype=vim:
"
" Bundle specific sourcing and configuration
" ------------------------------------------
" This is a template for creating a new plugin config file for CookieVim.
"
" Bundle Repository {
" -------------------
" i.e.   Bundle 'github-user/repo'
"

Bundle 'vim-scripts/c.vim'
Bundle 'rhysd/vim-clang-format'
Bundle 'Rip-Rip/clang_complete'

" }

" Configuration {
" ---------------
" Put plugin specific configuration info here:
"


" Disable neocomplete for C, C++

autocmd FileType c,c++,go " NeoCompleteLock

" Clang options

let g:clang_library_path='/usr/local/lib'

" Other Options
"
set tags=./tags;/

" }
