" vim: set tw=78 nospell filetype=vim:
"
" Bundle specific sourcing and configuration
" ------------------------------------------
" This is a template for creating a new plugin config file for CookieVim.
"
" Bundle Repository {
" -------------------
" i.e.   Bundle 'github-user/repo'
"

Bundle 'FredKSchott/CoVim'

" }

" Configuration {
" ---------------
" Put plugin specific configuration info here:
"
"

let CoVim_default_name = "jdt"
let CoVim_default_port = "8901"


" }
