
" vim: set tw=78 nospell filetype=vim:
" Bundle Repository


Bundle 'scrooloose/syntastic'

" Configuration

let g:syntastic_javascript_checkers=['jshint']
let g:syntastic_c_checkers=['make','splint','clang_check']

let g:syntastic_mode_map = { 'mode': 'passive', 'active_filetypes': ['c', 'cpp', 'css', 'html', 'js'],'passive_filetypes': [] }
nnoremap <C-w>E :SyntasticCheck<CR> :SyntasticToggleMode<CR>

let g:syntastic_always_populate_loc_list = 1

nnoremap <silent> <C-d> :lclose<CR>:bdelete<CR>
cabbrev <silent> bd lclose\|bdelete

