
" vim: set tw=78 nospell filetype=vim:
" Bundle Repository


Bundle 'scrooloose/syntastic'

" Configuration

let g:syntastic_javascript_checkers=['jshint']

let g:syntastic_mode_map = { 'mode': 'passive', 'active_filetypes': ['css', 'html', 'js'],'passive_filetypes': [] }
nnoremap <C-w>E :SyntasticCheck<CR> :SyntasticToggleMode<CR>


