" vim: set tw=78 nospell filetype=vim:
"
" Bundle specific sourcing and configuration
" ------------------------------------------
" This is a template for creating a new plugin config file for CookieVim.
"
" Bundle Repository {
" -------------------
" i.e.   Bundle 'github-user/repo'
"

Plugin 'scrooloose/syntastic'

" }

" Configuration {
" ---------------
" Put plugin specific configuration info here:
"
let g:syntastic_c_check_header = 1
let g:syntastic_javascript_checkers=['jshint']
let g:syntastic_c_checkers=['make','splint','clang_check']
let g:syntastic_c_auto_refresh_includes = 1
let g:syntastic_c_compiler = 'clang'

let g:syntastic_mode_map = { 'mode': 'passive', 'active_filetypes': ['c', 'css', 'html', 'js'],'passive_filetypes': [] }

nnoremap <C-w>E :SyntasticCheck<CR> :SyntasticToggleMode<CR>

let g:syntastic_always_populate_loc_list = 1

nnoremap <silent> <C-d> :lclose<CR>:bdelete<CR>
cabbrev <silent> bd lclose\|bdelete


" }
