" vim: set tw=78 nospell filetype=vim:
"
" Bundle specific sourcing and configuration
" ------------------------------------------
" This is a template for creating a new plugin config file for CookieVim.
"
" Bundle Repository {
" -------------------
" i.e.   Bundle 'github-user/repo'
"
" Bundle 'xolox/vim-misc'  <-- Loaded in own config file

Bundle 'xolox/vim-easytags'

" }

" Configuration {
" ---------------
" Put plugin specific configuration info here:
"

let g:easytags_cmd = '/usr/local/bin/ctags'
let g:easytags_async = 1
let g:easytags_dynamic_files = 1
let g:easytags_events = ['BufWritePost']
let g:easytags_always_enabled = 0
let g:easytags_autorecurse = 1
let g:easytags_syntax_keyword = 'always'


" }
