" vim: set tw=78 nospell filetype=vim:
"
" Bundle specific sourcing and configuration
" ------------------------------------------
" This is a template for creating a new plugin config file for CookieVim.
"
" Bundle Repository {
" -------------------
" i.e.   Bundle 'github-user/repo'
"

Bundle 'terryma/vim-multiple-cursors'

" }

" Configuration {
" ---------------
" Put plugin specific configuration info here:
"

" Default mapping
let g:multi_cursor_next_key='<C-n>'
let g:multi_cursor_prev_key='<C-b>'
let g:multi_cursor_skip_key='<C-x>'
let g:multi_cursor_quit_key='<Esc>'
"
" By default, the 'next' key is also used to enter multicursor mode. If you
" want to use a different key to start multicursor mode than for selecting the
" next location, do like the following:
"
" " Map start key separately from next key
" let g:multi_cursor_start_key='<F6>'
"



" }
