" vim: set tw=78 nospell filetype=vim:
"
" Plugin specific sourcing and configuration
" ------------------------------------------
" This is a template for creating a new plugin config file for CookieVim.
"
" Plugin Repository {
" -------------------
" i.e.   Plugin 'github-user/repo'
"

Plugin 'szw/vim-tags'

" }

" Configuration {
" ---------------
" Put plugin specific configuration info here:
"
let g:vim_tags_ctags_binary='ectags'
let g:vim_tags_auto_generate = 1
let g:vim_tags_project_tags_command = "{CTAGS} -R {OPTIONS} {DIRECTORY} 2>/dev/null"
let g:vim_tags_use_language_field = 1


