" vim: set tw=78 nospell filetype=vim:
"
" Bundle specific sourcing and configuration
" ------------------------------------------
" This is a template for creating a new plugin config file for CookieVim.
"
" Bundle Repository {
" -------------------
" i.e.   Bundle 'github-user/repo'
"

Plugin 'agude/vim-eldar'

" }

" Configuration {
" ---------------
" Put plugin specific configuration info here:
"

"------------------------
" Syntax: highlighting
"------------------------
if has('syntax')
    syntax enable             " Turn on syntax highlighting
    silent! colorscheme eldar " Custom color scheme
endif

" }
