" vim: set tw=78 nospell filetype=vim:
"
" Bundle specific sourcing and configuration
" ------------------------------------------
" This is a template for creating a new plugin config file for CookieVim.
"
" Bundle Repository {
" -------------------
" i.e.   Bundle 'github-user/repo'
"

Bundle 'xolox/vim-easytags'


" }

" Configuration {
" ---------------
" Put plugin specific configuration info here:
"


" }
