" vim: set tw=78 nospell filetype=vim:
"
" Bundle specific sourcing and configuration
" ------------------------------------------
" This is a template for creating a new plugin config file for CookieVim.
"
" Bundle Repository {
" -------------------
" i.e.   Bundle 'github-user/repo'
"

Bundle 'mhinz/vim-signify'

" }

" Configuration {
" ---------------
" Put plugin specific configuration info here:
"

let g:signify_vcs_list = [ 'git', 'hg', 'svn', 'cvs' ]

"}
