" vim: set tw=78 nospell filetype=vim:
"
" Bundle specific sourcing and configuration
" ------------------------------------------
" This is a template for creating a new plugin config file for CookieVim.
"
" Bundle Repository {
" -------------------
" i.e.   Bundle 'github-user/repo'
"
Bundle 'ajh17/VimCompletesMe'

" }

" Configuration {
" ---------------
" Put plugin specific configuration info here:
"
autocmd FileType text,markdown let b:vcm_tab_complete = 'dict'
autocmd FileType c,c++ let b:vcm_tab_complete = 'tags'

" }
