" vim: set tw=78 nospell filetype=vim:
"
" Bundle specific sourcing and configuration
" ------------------------------------------
" This is a template for creating a new plugin config file for CookieVim.
"
" Bundle Repository {
" -------------------
" i.e.   Bundle 'github-user/repo'
"

Bundle 'vim-scripts/vimwiki'

" }

" Configuration {
" ---------------
" Put plugin specific configuration info here:
"
let g:vimwiki_list = [{'path': '~/doc/vimwiki/wiki', 'path_html': '~/doc/vimwiki/html/'},
      \ {'path': '~/doc/ideas/wiki', 'path_html': '~/doc/ideas/html/'}]


" }
