" vim: set tw=78 nospell filetype=vim:
"
" Bundle specific sourcing and configuration
" ------------------------------------------
" This is a template for creating a new plugin config file for CookieVim.
"
" Bundle Repository {
" -------------------
" i.e.   Bundle 'github-user/repo'
"

Bundle 'vim-scripts/vimwiki'

" }

" Configuration {
" ---------------
" Put plugin specific configuration info here:
"
"

" vimwiki settings
let vimwiki_path=$HOME.'/doc/vimwiki/'
let vimwiki_html_path=$HOME.'/doc/vimwiki/html/'
let g:vimwiki_list = [{'path_html':vimwiki_html_path,
      \ 'template_path':vimwiki_html_path.'assets/',
      \ 'template_default': 'default',
      \ 'template_ext': '.tpl',
      \ 'auto_export': 0}]
"


" }
