" vim: set tw=78 nospell filetype=vim:
"
" Bundle specific sourcing and configuration
" ------------------------------------------
" This is a template for creating a new plugin config file for CookieVim.
"
" Bundle Repository {
" -------------------
" i.e.   Bundle 'github-user/repo'
"
Bundle 'Valloric/YouCompleteMe'

" }

" Configuration {
" ---------------
" Put plugin specific configuration info here:
"

let g:ycm_autoclose_preview_window_after_completion = 1
let g:ycm_min_num_identifier_candidate_chars = 4
" let g:ycm_extra_conf_globlist = ['~/repos/*']
let g:ycm_filetype_specific_completion_to_disable = {'javascript': 1}

nnoremap <leader>z :YcmForceCompileAndDiagnostics<cr>
nnoremap <leader>zg :YcmCompleter GoTo<CR>
nnoremap <leader>zd :YcmCompleter GoToDefinition<CR>
nnoremap <leader>zc :YcmCompleter GoToDeclaration<CR>

" ARCHLINUX Install libtinfo from AUR


